{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="wrapper">
    <div class="f1">
        <h1>Луговой Никита Сергеевич ИВТ-201</h1>
        <img class="foto" src="https://sun9-east.userapi.com/sun9-33/s/v1/ig2/Uh5NvtoaFwU1MLrCIlDb62PzLKZRwW52RdT16iWIuvsnC1X6E1x4tHeuGZrr9wPjwsKULjk-sfm8pf6vul1Kr0sn.jpg?size=667x1000&quality=95&type=album">
    </div>
    <div class="opis">
    <p>Студент БГИТУ. До этого обучался в МБОУ сош №2 п. Клетня, сейчас это школа имени Можаева. Родился 1 октября 2003 года. Интересуюсь ремонтом техники (компьютеры, автомобили, мотоциклы, телефоны). Номер телефона-89003740715. <a href="https://vk.com/id446433652">Своя страница в ВК</a></p>
    </div>
</div>

{% endblock %}