{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="wrapper">
    <div class="header-img">
        <h1>Автосервис в Брянске</h1>
        <h2>Профессиональный ремонт и обслуживание Вашего автомобиля на СТО в Брянске с гарантией до 1 года</h2>
    </div>
    <div class="opisanie">
        <h1>Коротко о нас</h1>
        <p>Автосервис (или станция технического обслуживания) - организация, предоставляющая услуги населению и / или организациям по плановому техническому обслуживанию, текущему и капитальному ремонтам, устранению автополомок, установке дополнительного оборудования (тюнингу), восстановительному (кузовному) ремонту автотранспорта. СТО станция технического обслуживания - представляет собой комплекс сооружений и механизмов (подъёмники, шиномонтаж, балансировка, стенд развал-схождения, установка для замены масла, промывки топливной системы, рихтовочное и покрасочно-сушильное оборудование, стенды и тестеры для диагностики эл. цепи автомобиля), а также ручной и пневматический инструмент, собранные в одном месте для полноценного комплексного ремонта и обслуживания автомобилей.</p>

<p>Самая распространенная схема работы автосервиса состоит из 3-х этапов:</p>

<p>1) приемка машины, обсуждение и согласование с клиентом необходимого объема работ, выписывание заказ-наряда на работу;</p>
<p>2) передача машины в ремонтную зону механику, который будет производить работу;</p>
<p>3) выходной контроль и возврат машины клиенту.</p>
<p>Фирма специализируется наследующих видах работ: шиномонтаж, промывка инжектора, чистка форсунок, замена масла, развал-схождение, ремонт тормозных дисков, кузовной ремонт, кузовные работы, покраска авто, ремонт пластиковых бамперов, заправка автокондиционера, компьютерная диагностика автомобиля, тонировка стекол автомобиля, бронирование стекол автомобиля. Наиболее распространенные виды работ: смазочно-заправочные; контрольно-диагностические; электротехнические; шиномонтажные и балансировочные; монтажно-демонтажные; жестяно-сварочные; ремонт рулевого управления; ремонт рулевой системы; ремонт двигателей; ремонт и зарядка аккумуляторов; покраска.</p>

<p>Проблему приобретения запчастей фирма решает ее с помощью налаживания контактов с поставщиками, стараясь не терять с ними связи и становится постоянным покупателем, имея стабильную доставку без проблем. Автозапчасти покупают через дилеров. Для этого посещают специализированные выставки и знакомятся на них с ассортиментом и ценами основных российских дилеров.</p>
    </div>
    <h1>Лучшие сотрудники сервиса</h1>
    <h5>(Потому что единственные)</h5>
    <div class="sotrudniki">
        <div class="sotrudniki-cheloveki">
            <img src="https://sun9-west.userapi.com/sun9-7/s/v1/ig2/qlgiazvZcsF-8xGNe8YrkTcUyXiVsUttmg0C3KLUSOzBjrbr9aIMxAQvmmV5iJ42v8jKyXYllcp04L0vwmX3XyRz.jpg?size=1182x1571&quality=95&type=album" width="300px">
            <h2>Мастер по кузовному ремонту</h2>
            <p>Сергей3 Петрович (Николай Павлович Рябцев)</p>
            <p>В июле 2018 года закончил ПТУ № 50 города Брянска с присвоением квалификации кузовщика.
С 12 июля 2018 года и по настоящее время работает в нашем сервисе.</p>
        </div>

        <div class="sotrudniki-cheloveki">
            <img src="https://sun1.userapi.com/sun1-21/s/v1/ig2/XXU2tqeHHYTJdsWMq8QbTyF-Vpgx-b1ZLjmK8nJukfyA5wuHAJLwuU2eSdz0-EeSmKTMbmept7NrWJE2TB47QhpR.jpg?size=921x1274&quality=95&type=album" width="300px" height="400px">
            <h2>Мастер по подвеске</h2>
            <p>Аркадий Васильевич (Никита Юрьевич Шляпкин)</p>
            <p>В июне 2018 года закончил ПТУ № 2 города Дятькова с присвоением квалификации мастера по подвеске.
С 12 июня 2018 года и по настоящее время работает в нашем сервисе.</p>
        </div>

        <div class="sotrudniki-cheloveki">
            <img src="https://sun9-north.userapi.com/sun9-77/s/v1/ig2/0TQrZ69Hcb7MlEyFkFEEAudUDjjL_9W5ItAP-zjyWc996rJrBs4A7gOpRGJn3mRItN2qXb9mwC4gf_L0Bm6XVVfS.jpg?size=984x1230&quality=95&type=album" width="310px">
            <h2>Мастер по технической части</h2>
            <p>Фёдор Александрович (Никита Владимирович Ермишин)</p>
            <p>В августе 2018 года закончил ПТУ № 3 города Жуковка с присвоением квалификации мастера по технической части.
С 12 августа 2018 года и по настоящее время работает в нашем сервисе.</p>
        </div>
    </div>

    <div class="karta">
        <h1>Где мы находимся</h1>
        <h1><img src="https://static-maps.yandex.ru/1.x/?ll=34.29607500,53.34500700&size=450,450&z=10&l=map&pt=34.29607500,53.34500700,pm2gnm" width="520px"></h1>
        <b>г.Брянск, ул.Литейная, д.44</b>
        <h1>График работы</h1>
        <h3>Понедельник: 9:00 - 20:00</h3>
        <h3>Вторник:     9:00 - 20:00</h3>
        <h3>Среда:       9:00 - 20:00</h3>
        <h3>Четверг:     9:00 - 20:00</h3>
        <h3>Пятница:     9:00 - 20:00</h3>
        <h3>Суббота:     10:00 - 20:00</h3>
        <h3>Воскресенье: 10:00 - 20:00</h3>


    </div>
    <h1>Полученые Отзывы</h1>
{%- block otziv -%}
        {% for n in otziv -%}
        <div class="otziv">
        <p>{{ n['username']}} - {{ n['email'] }} - {{ n['messeng'] }}</p>
        </div>
        {% endfor -%}

{%- endblock otziv -%}
</div>
</div>

{% endblock %}