{% extends "base.html" %}
{% block content %}
{{super()}}
<div class="do-order">
    <h1>Заказ</h1>
    <form action="" method="post" name=" ">

        <p>Введите ваше имя: <br></p>

        <p>Введите ваше номер телефона: <br></p>

        <p>Введите ваш адрес: <br></p>

        <p>
            Пожалуйста, выбериете блюдо 1: <br>
        </p>
        <div class="select-field"> </div>

        <p>
            Пожалуйста, выбериете блюдо 2: <br>
        </p>
        <div class="select-field"> </div>
        <p>
            Пожалуйста, выбериете блюдо 3: <br>
        </p>
        <div class="select-field"> </div>
        <p>
            Пожалуйста, выбериете блюдо 4: <br>
        </p>
        <div class="select-field"> </div>
        <p>
            Пожалуйста, выбериете блюдо 5: <br>
        </p>
        <div class="select-field"> </div>

        <p>Итого: рублей к оплате</p>

        <div class="order-but">

        </div>
</div>
{% endblock %}
